<div class="relative w-full h-screen">
    <video class="absolute inset-0 w-full h-full object-cover"loop muted playsinline autoplay preload="auto">
        <source src="assets/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="absolute inset-0 bg-black opacity-50"></div> <!-- Optional: for a dark overlay -->

    <div class="relative container mx-auto h-full flex items-center p-4 sm:p-8">
        <div class="text-white p-4 sm:p-8 rounded-lg w-full">
            <h1
                class="xl:text-lg 2xl:text-[3rem] text-[2rem] 2xl:w-[60%] 2xl:leading-[3rem] md:text-balance mb-2 font-bold text-center xl:text-left">
                Csatlakozz a <span class="text-[#F31A1A]">TEAMGOMAN</span> <br class="md:hidden"> kick-box csapathoz
            </h1>
            <p
                class="xl:text-base 2xl:text-lg mt-3 text-lg sm:text-xl font-semibold mb-4 sm:mb-6 text-center xl:text-left">
                És mutasd meg, hogy képes vagy a sikerre
            </p>
            <div class="w-full flex justify-center items-center mt-10 xl:justify-start xl:items-start ">
                <a href="#start" class="z-50">
                    <button
                        class="cta-btn font-bold bg-white text-black py-2 px-16 sm:px-32 text-xl sm:text-2xl rounded hover:bg-gray-200 text-center xl:text-left">
                        Lássunk neki!
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1719935760 z-10 hidden xl:block">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                class="shape-fill"></path>
        </svg>
    </div>

    <div class="hidden xl:flex absolute right-0 top-0 h-full items-center animate-fadeInSlideIn z-[50]">
        <div class="relative h-full">

            <img src="assets/renato.png" alt="Kép Renátóról"
                class="relative z-10 max-h-full opacity-0 lg:opacity-100 transition-opacity duration-500 ease-in-out">
        </div>
    </div>
</div>






<div class="container mx-auto p-4 mt-20" id="start">
    <!-- Főcím -->
    <h2 class="text-center text-4xl font-bold mb-8">Miért válaszd a <span class="text-[#F31A1A]">TEAMGOMAN</span>-t?
    </h2>

    <!-- Kártyák -->
    <div class="grid md:grid-cols-3 gap-4 mb-8 mt-10 text-center">
        <a href="#felkeszites"
            class=" bg-white shadow-lg rounded-lg p-4 hover:shadow-xl hover:translate-y-1 transition transform flex flex-col justify-between">
            <div>
                <h2 class="text-xl font-bold mb-2 px-10 mt-10">A legjobbak készítenek fel a versenyekre</h2>
                <p class="mb-4 px-10">Csak akkor lehetsz igazi bajnok ha az edzőid is a legjobbak!</p>
            </div>
            <img src="assets/medal.png" alt="Kép 1" class="w-40 h-40 mx-auto rounded-full">
        </a>
        <a href="#onvedelem"
            class=" bg-white shadow-lg rounded-lg p-4 hover:shadow-xl hover:translate-y-1 transition transform flex flex-col justify-between">
            <div>
                <h2 class="text-xl font-bold mb-2 px-10 mt-10">Az önvédelem a legfontosabb</h2>
                <p class="mb-4 px-10">Gyengének lenni nem szégyen. Gyengének maradni már sokkal inkább!</p>
            </div>
            <img src="assets/fight.png" alt="Kép 2" class="w-40 h-40 mx-auto rounded-full">
        </a>
        <a href="#csalad"
            class=" bg-white shadow-lg rounded-lg p-4 hover:shadow-xl hover:translate-y-1 transition transform flex flex-col justify-between">
            <div>
                <h2 class="text-xl font-bold mb-2 px-10 mt-10">Tartozz egy családhoz!</h2>
                <p class="mb-4 px-10">A TEAMGOMAN egyik legfontosabb eleme a csapatkohézió!</p>
            </div>
            <img src="assets/group.png" alt="Kép 3" class="w-40 h-40 mx-auto rounded-full">
        </a>
    </div>


    <!-- Kép és szöveg kompozíciók -->
    <div class="mb-8">
        <h3 class="text-center text-4xl mt-44 font-bold mb-8" id="felkeszites">A legjobbak készítenek fel a versenyekre
        </h3>
        <div class="md:flex items-center justify-between mb-4">
            <div class="md:w-1/3 p-4 text-base">
                <p class="font-bold">Góman Renátó vagyok, 26 éves</p>
                <p class="mt-5">Első magyarként voltam szerződtetve Hollandiában <span class="font-bold">(a legkeményebb
                        kickbox ligában)</span> .</p>
                <p class="mt-5"> <span class="font-bold">13 országban</span> küzdöttem a legnagyobb színpadokon.</p>
                <p class="mt-5">Azért kellett megtanulnom verekedni, mert a környék ahol felnőttem <span
                        class="font-bold">híresen rossz volt</span> .</p>
                <p class="mt-5"> Én leszek az aki felkészít a <span class="font-bold">bajnoki címek elhodítására</span>
                    , az élet minden területén <span class="font-bold">való
                        önvédelemre</span> , és  <span class="font-bold">a nehéz szituációban való higgadtságra</span>.
                </p>
            </div>
            <div class="md:w-1/2 p-4">
                <img src="assets/renato1.jpg" alt="Kép" class="w-full h-full object-cover shadow-md rounded-md">
            </div>
        </div>
    </div>

    <div class="mb-8 mt-40">
        <div class="md:flex items-center justify-between mb-4 flex-row-reverse">
            <div class="md:w-1/3 p-4">
                <p>Nagy igényt fektetek a helyes technikai kivitelezésre, mert a harc legfontosabb eleme az alap,
                    mindent
                    alapokra helyezünk és aszerint tudunk építkezni!</p>
                <p class="mt-10">
                    De ugyanakkor a legfontosabb dolog ebben a sportban is az <span class="font-bold"> alázat </span> és
                    a <span class="font-bold"> tisztelet </span> az edződdel-, a
                    csapattársakkal-,és ami a legfontosabb a  <span class="font-bold">saját
                        fejlődéseddel</span> szemben!</p>
            </div>
            <div class="md:w-1/2 p-4">
                <img src="assets/respect.webp" alt="Kép" class="w-full h-full object-cover shadow-md rounded-md">
            </div>
        </div>
    </div>

    <div class="mb-8">
        <h3 class=" font-bold mb-4 mt-60 text-center text-4xl" id="onvedelem">Az önvédelem a legfontosabb</h3>
        <div class="md:flex justify-between items-center mb-4 mt-20">
            <div class="md:w-1/3 p-4">
                <p class="mt-10">
                    Képzeld magad elé a szituációt:
                </p>
                <p class="mt-10">
                    Sétálsz hazafele egyik este és <span class="font-bold"> megtámad </span> egy teljesen ismeretlen
                    ember.
                </p>
                <p class="mt-10">
                    Nem tudsz védekezni,  <span class="font-bold">elveszi az értékeidet</span> és lehet, hogy
                    elveszítesz egy
                    <span class="font-bold">nagyon fontos tárgyat</span>  is, ami szép
                    emlék vagy évek óta veled van.
                </p>
                <p class="mt-10">
                    Nem is beszélve a <span class="font-bold">pénzről és az adataidról</span> .
                </p>
                <p class="mt-10">
                    Minden férfi és nő fél valamilyen szinten ettől a szituációtól.
                </p>
                <p class="mt-10">
                    De te döntöd el, hogy a félelem eltántorít, vagy <span class="underline font-bold">üzemanyagként
                        használod az
                        utadon a siker felé!</span> 
                </p>
            </div>
            <div class="md:w-1/2 p-4">
                <img src="assets/img3.webp" alt="Kép" class="shadow-md rounded-md w-full h-full object-cover">
            </div>
        </div>
    </div>

    <!-- Középre igazított bekezdés -->
    <div class="text-center mb-8 mt-20">
        <p class="mb-2 text-3xl font-bold">Ha teszel az ügy érdekében, akkor nem csak magadat tudod megvédeni, hanem a
            védteleneket is!</p>
        <p class="mt-10 text-xl">A TEAMGOMAN-ban megtanítunk minden technikára amit használnod kell a <span
                class="font-bold">versenyeken vagy az utcán </span> , kezdve az alapoktól.</p>
    </div>

    <!-- Cím és bekezdések, galéria -->
    <div class="mb-8">
    <h3 class="text-4xl font-bold mb-4 text-center mt-40" id="csalad">Tartozz egy családhoz!</h3>
    <p class="text-center mb-2">Egy csapat nem csak az emberek összeségét jelenti, hanem a kapcsolatot is ami közöttük van.</p>
    <p class="text-center mb-8">A TEAMGOMAN-ban egy igazi család tagjává válhatsz!</p>

    <div class="grid-cols-1 md:grid-cols-2 gap-4 mt-20 hidden md:grid">
        <div class="grid grid-cols-1 gap-4">
            <img src="assets/csoport2.jpg" alt="Kép 1" class="w-full h-full object-cover rounded-md shadow-md">
            <img src="assets/csoportos4.jpg" alt="Kép 2" class="w-full h-full object-cover rounded-md shadow-md">
        </div>
        <div class="grid grid-cols-1 gap-4">
            <img src="assets/csoportos3.jpg" alt="Kép 3" class="w-full h-full object-cover rounded-md shadow-md">
            <img src="assets/csoportos5.jpg" alt="Kép 4" class="w-full h-full object-cover rounded-md shadow-md">
            <img src="assets/csoportos1.jpg" alt="Kép 5" class="w-full h-full object-cover rounded-md shadow-md">
        </div>
    </div>

    <div class="mt-20 block md:hidden">
            <img src="assets/csoport2.jpg" alt="Kép 1" class="w-full h-full object-cover rounded-md shadow-md mt-5">
            <img src="assets/csoportos4.jpg" alt="Kép 2" class="w-full h-full object-cover rounded-md shadow-md mt-5">
            <img src="assets/csoportos3.jpg" alt="Kép 3" class="w-full h-full object-cover rounded-md shadow-md mt-5">
            <img src="assets/csoportos5.jpg" alt="Kép 4" class="w-full h-full object-cover rounded-md shadow-md mt-5">
            <img src="assets/csoportos1.jpg" alt="Kép 5" class="w-full h-full object-cover rounded-md shadow-md mt-5">
    </div>
</div>


    <!-- Cím, alcím, és kártyák -->
    <div class="mb-8 mt-20">
        <h2 class="text-4xl font-bold text-center mb-2">Órarend</h2>
        <div class="grid md:grid-cols-2 gap-4 mt-10">
            <div class="bg-white shadow-lg rounded-lg p-4">
                <h3 class="text-xl font-bold mb-2 mt-5">CSOPORTOS EDZÉS</h3>
                <p class="mb-2 mt-10">Haladó szint, 15-20 fős csoport. Az edzés általában sparringgal zárul. Kezdőknek
                    nem
                    javasolt, ekkora csoportban lehetetlen egy edzőnek mindenkire koncentrálni.</p>
                <p class="mb-2">A kezdőknek az alapok elsajátításához különleges figyelemre van szükségük!</p>
                <p class="mb-2">Az edzésnek pontos időpontja van, lásd az edzésrendben!</p>
                <p class="mb-10">További információkért nyugodtan keress telefonon!</p>
                <img src="assets/csoport.webp" alt="Kép 1" class="w-full rounded-md object-cover mt-4">
            </div>
            <div class="bg-white shadow-lg rounded-lg p-4">
                <h3 class="text-xl font-bold mb-2 mt-5">MAGÁN EDZÉS</h3>
                <p class="mb-2 mt-10">Kezdő és haladó szint, kis csoport.</p>
                <p class="mb-2">Az edzés a technika fejlesztésére épül. Ugyan kezdő és haladó is ugyanarra az időpontra
                    jön,
                    teljesen más az edzés felépítése szintnek megfelelően.</p>
                <p class="mb-2">Ezeknek az edzéseknek nincs előre meghatározott időpontja, csak egy intervallum amiben
                    általában
                    tartjuk őket.</p>
                <p class="mb-2">További információkért nyugodtan keress telefonon!</p>
                <img src="assets/magan.webp" alt="Kép 2" class="w-full rounded-md object-cover   mt-4">
            </div>
            <div class="bg-white shadow-lg rounded-lg p-4">
                <h3 class="text-xl font-bold mb-2 mt-5">KISGYEREK EDZÉS</h3>
                <p class="mb-2 mt-10">A kisgyerekek fejlődésére kifejezetten ügyelünk, mivel megfelelő korban vannak
                    ahhoz, hogy
                    később élsportoló lehessen belőlük!</p>
                <p class="mb-2">Az edzés jó hangulatban zajlik, fokozott figyelemmel követjük a gyerekek fejlődését.</p>
                <p class="mb-2">Ezeknek az edzéseknek nincs előre meghatározott időpontja, csak egy intervallum amiben
                    általában
                    tartjuk őket.</p>
                <p class="mb-2">További információkért nyugodtan keress telefonon!</p>
                <img src="assets/gyerek.webp" alt="Kép 3" class="w-full rounded-md object-cover   mt-4">
            </div>
            <div class="bg-white shadow-lg rounded-lg p-4">
                <h3 class="text-xl font-bold mb-2 mt-5">NŐI EDZÉS</h3>
                <p class="mb-2 mt-10">A hölgyek haladó szinten a férfiakkal együtt járnak csoportos- és magán edzésre
                    (de csak
                    egymással állnak párba).</p>
                <p class="mb-2">Kezdő szinten igény esetén indítunk csoportot!</p>
                <p class="mb-2">A kezdő edzéseknek nincs előre meghatározott időpontja, csak egy intervallum amiben
                    általában
                    tartjuk őket.</p>
                <p class="mb-2">További információkért nyugodtan keress telefonon!</p>
                <img src="assets/women.webp" alt="Kép 4" class="w-full rounded-md  object-cover  mt-4">
            </div>
        </div>
    </div>

    <table class="table-auto border border-collapse w-full">
        <thead class="text-left">
            <tr>
                <th class="border p-2">Nap</th>
                <th class="border p-2">Időpont</th>
                <th class="border p-2">Edzés</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border p-2" rowspan="2">Hétfő</td>
                <td class="border p-2">8:00-11:00</td>
                <td class="border p-2">Magán edzés</td>
            </tr>
            <tr>
                <td class="border p-2">14:00-18:00</td>
                <td class="border p-2">Kisgyerek edzés</td>
            </tr>
            <tr>
                <td class="border p-2" rowspan="3">Szerda</td>
                <td class="border p-2">8:00-11:00</td>
                <td class="border p-2">Magán edzés</td>
            </tr>
            <tr>
                <td class="border p-2">14:00-18:00</td>
                <td class="border p-2">Kisgyerek edzés</td>
            </tr>
            <tr>
                <td class="border p-2">18:00-19:00</td>
                <td class="border p-2">Csoportos edzés</td>
            </tr>
            <tr>
                <td class="border p-2" rowspan="3">Péntek</td>
                <td class="border p-2">8:00-11:00</td>
                <td class="border p-2">Magán edzés</td>
            </tr>
            <tr>
                <td class="border p-2">14:00-18:00</td>
                <td class="border p-2">Kisgyerek edzés</td>
            </tr>
            <tr>
                <td class="border p-2">18:00-19:00</td>
                <td class="border p-2">Csoportos edzés</td>
            </tr>
            <tr>
                <td class="border p-2" rowspan="1">Szombat</td>
                <td class="border p-2">9:30-12:00</td>
                <td class="border p-2">Magán edzés</td>
            </tr>
        </tbody>
    </table>
    <p class="font-bold">A magán edzések időpontjai nem előre megadottak, így mindenképpen egyeztetés szükséges előtte
        telefonon vagy üzenetben!</p>

    <div class="text-center mb-8 mt-20 text-xl">
        <p class="mb-2">Azok akik nálunk tanulnak <span class="font-bold">nagyon gyorsan fejlődnek</span> és mindenki
            <span class="font-bold">megtudja védeni magát</span>! </p>
    </div>

    <div class="text-center mb-8 mt-5 text-xl">
        <p class="mb-2">Versenyzőink nemzetközi versenyeken érnek el <span class="font-bold">kiemelkedő
                eredményeket</span>! </p>
    </div>

    <div class="text-center mb-8 mt-5 text-xl">
        <p class="mb-2">A sportolás nem csak a fizikai, hanem a mentális állapotodra is pozítiv hatással van! Rossz
            napod
            volt? <span class="font-bold">Gyere le edzeni és add ki magadból!</span>  </p>
    </div>

    <div class="text-center mb-8 mt-36">
        <p class="mb-2">Mivel személyre szabott edzéseket tartunk, ezért a helyek száma <span
                class="font-bold underline">limitált</span>!
        </p>
        <p>
            TEL.:+36202846653
        </p>
        <p>
            Helyszín: Kiscelli Küzdősport Club, Bécsi út 126.
        </p>
    </div>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2693.557111182874!2d19.032300662704476!3d47.53748490597039!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741d9449f51b873%3A0xf76a298582728458!2sKiscelli%20K%C3%BCzd%C5%91sport%20Club!5e0!3m2!1shu!2shu!4v1696774856880!5m2!1shu!2shu"
        class="w-[15rem] h-[10rem] sm:w-[25rem] sm:h-[20rem] lg:w-[20rem] lg:mt-5 lg:h-[15rem] xl:w-[45rem] xl:h-[40rem] mx-auto"
        allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <p class="text-center text-2xl font-bold mt-20 mb-20">Gyere, eddz a legjobbakkal amíg nem késő és mutasd meg, hogy
        képes vagy a sikerre!</p>

    <app-gallery></app-gallery>

</div>